APP_NAME="mini-RAG"
APP_VERSION="0.1"
OPENAI_API_KEY=""

FILE_ALLOWED_TYPES= ['text/plain', 'application/pdf'] # better than extensions that can be changed easily
FILE_MAX_SIZE_MB=10  # Maximum file size in megabytes

FILE_DEFAULT_CHUNK_SIZE=512000  # Default chunk size for file processing (512KB)

MONGODB_URL=""
MONGODB_DB=""